/* .BabyCategorieContainer {
  margin-bottom: 0;
} */
.ContainerBt {
  border: 2px solid rgba(113, 89, 135, 0.499);
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
  gap: 2rem;

  background-image: url("./images/logo3.jpg");
}

.BabyCategorieDiv {
  text-align: justify;
  padding-left: 4rem;
  padding-right: 4rem;
  line-height: 2rem;
}

.BabyCategorieH1 {
  margin-top: 1rem;
  margin-bottom: 0;
}
.LinkNächst {
  color: rgba(113, 89, 135, 0.499);
  display: flex;
  gap: 90%;
  padding-left: 5%;
}
.LinkNächst a {
  text-decoration: none;
}
.LinkNächst a:hover {
  color: rgba(113, 89, 135, 0.499);
}
.MonateBt {
  line-height: 1.5rem;
  border-radius: 0.5rem;
  color: rgba(54, 5, 60, 0.618);
}
