nav {
    background-color: rgba(113, 89, 135, 0.692);
    display: flex;
    flex-direction: row;
    height: 80px;
    gap: 14rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
  }
  nav button {
    background: none;
    border: none;
    align-items: center;
  
    color: rgba(54, 5, 60, 0.403);
  }
  nav button:hover {
    transition: 0.2s;
    font-size: larger;
  
    color: rgba(54, 5, 60, 0.751);
  }
  nav .Navbar-picture {
    height: 50px;
    margin-top: 7px;
    margin-left: 8px;
  }
  nav .Navbar-logo-text {
    text-align: center;
    padding: 0;
    margin: 1px;
    font-size: 0.7rem;
    text-decoration-style: wavy;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  nav a {
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 0.75rem;
    transition: 0.4s;
    color: rgba(113, 89, 135, 0.499);
  }
  
  .Navbar-logo {
    height: 55px;
  }
  .NavLinks :hover {
    font-size: larger;
    align-items: center;
  }
  
  .navbar-inner {
    display: flex;
  }
  