nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(113, 89, 135, 0.692);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.Navbar-picture {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
}

.Navbar-logo-text {
  text-align: center;
  padding: 0;
  margin: 1px;
  font-size: 0.7rem;
  text-decoration-style: wavy;
}

.navbar-inner {
  display: flex;
  align-items: center;
}

.NavLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.NavLinks li {
  position: relative;
}

.NavLinks button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: rgba(54, 5, 60, 0.403);
}

.NavLinks.show {
  /* position: absolute; */
  right: 0;
  width: 30%;
  border-radius: 1rem;
}

.LogInButton button {
  display: flex;
  align-items: center;
}

.burger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .NavLinks {
    margin:1rem;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 10%;
  }

  .NavLinks.show {
    display: flex;
    background-color: rgb(113, 89, 135);
  }
}
