.OnlineRecieptBody {
}
.OnlineRecieptMap {
  border: 2px solid rgb(220, 220, 220);
  border-radius: 4rem;
  background-color: rgba(17, 16, 16, 0.857);
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5%;
  gap: 1rem;
  padding: 4rem;
  justify-content: center;
}
.NächstOnlineLink {
}
.OnlineRecieptMapIn {
  background-color: rgba(113, 89, 135, 0.499);
  color: whitesmoke;
  border: 2px solid darkgray;
  width: 30%;
  /* box-sizing: border-box; */
  padding: 1rem;
  /* display: inline; */
}
.OnlineRecieptMapIn > img {
  width: 90%;
  border: 0px transparent white;
  box-sizing: border-box;
}
