body {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.Container-einkaufDb {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.Karte {
  width: 10rem;
  height: 10rem;
  padding: 2rem;
  margin: 0.5rem;

  background-color: rgba(113, 89, 135, 0.499);
  color: whitesmoke;
  border: 2px solid darkgray;
  border-radius: 0.5rem;
  text-align: center;
}

.alleFertigEssen {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 2rem;
  background-color: rgba(169, 169, 169, 0.857);
  width: 80%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.WarenkorbIconFertigEssen {
  /* color: rgba(54, 5, 60, 0.403); */
  background-color: rgba(113, 89, 135, 0.499);
  margin-top: 0.5rem;
}
.LinkNächst {
  color: rgba(113, 89, 135, 0.499);
  display: flex;
  gap: 95%;
  margin: 3rem;
}
.LinkNächst a {
  text-decoration: none;
}
