.PageHomepar,
.aboutUs {
  text-align: justify;
  padding: 4rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 0;
}
.section1{
  background-image: image(src="./images/weinachten.jpg");
}
.PageHomeh1 {
  text-align: center;
}
.BabyCategorieLink {
  margin-top: 0;
  padding-top: 0;
  color: rgb(113, 89, 135);
}

.PageHomepar, .aboutUs {
  text-align: justify;
  padding:0 4rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 0;
}
.winAchten{
margin-top: 0;
padding-top: 0;
}



.aboutUs {
  text-align: center;
  padding: 4rem;
  line-height: 2rem;
  margin-top: 10rem;
  padding-top: 0;
}
@media screen and (max-width: 768px) {
  .winachtenImg{
    width:300px;}
}
